.Rproj.user
.Rhistory
.RData
.Ruserdata
phenoricev3.Rproj
.project
test_data/IT_Clipped/inputs/*
test_data/PHL_Clipped/inputs/2013/*
test_data/PHL_Clipped/inputs/2012/*
test_data/PHL_Clipped/*
test_data/home/lb/Desktop/PHL_Clipped/*
test_data/home/lb/Desktop/PHL_Clipped/Outputs/2012/
test_data/home/lb/Desktop/PHL_Clipped/Outputs/2013/
test_data/PHL_Clipped/Outputs/2012/*
test_data/PHL_Clipped/Outputs/2013/
Source/Accessoires/Options_file.RData
/Source/Accessoires/Options_file.txt
newproject.sav
phenorice.sav
phenoricev3.sav
test*
/Source/.settings/**
Source/test*.*
/*.sav
Source/.settings/*

./.git/objects/c2/548a6cc840f311a9dcdd0bf3bf9e9d7c814ea2
Rplot001\.png
plot\.png
inst/doc
